{% extends 'base.html' %}




{% block title %}Wavy - Admin Panel {% endblock %}
{% block scripts %}
<script src="{{ url_for('static', filename='admin.js')}}" defer></script>
{% endblock %}
{% block body %}
<nav class="navbar navbar-expand-lg bg-body-tertiary">
  <div class="container-fluid">
    <a class="navbar-brand" href="/">Wavy</a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav">
        <li class="nav-item">
          <a class="nav-link active" aria-current="page" href="/">Go to store</a>
        </li>
      </ul>
    </div>
  </div>
</nav>
<div class="container">
  {% with messages = get_flashed_messages() %}
    {% if messages %}
      {% for message in  messages %}
      <div class="alert alert-warning alert-dismissible fade show" role="alert">
        <strong>{{ message }}</strong>
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
      {% endfor %}
      {% endif %}
      {% endwith %}
    <h1>Wavy Admin Panel</h1>
    {% block item_form %}
    <form action="/item-form" method="post">
        <div class="mb-3">
            <label for="item-select" class="form-label">Select an item to add:</label>
            <select class="form-select" id="item-select" name="item-select">
                <option value="accessories">Accessories</option>
                <option value="jeans">Jeans</option>
                <option value="shoes">Shoes</option>
                <option value="shirts">Shirts</option>
            </select>
            <button type='submit' name="admin-button" value="add-item-btn" id="select-btn" class="btn btn-primary mt-3">Add Item</button>
        </div>
    </form>
    <form action="/admin-delete" method="post">
      <div class="mb-3">
        <label for="item-select" class="form-label">Select an item type to delete:</label>
        <select class="form-select" id="item-select" name="item-select">
            <option value="accessories">Accessories</option>
            <option value="jeans">Jeans</option>
            <option value="shoes">Shoes</option>
            <option value="shirts">Shirts</option>
        </select>
      <button type="submit" name="admin-button" value="del-item-btn" id="delete-btn" class="btn btn-danger mt-3">Delete Items</button>
    </form>
    {% if item == 'accessories' %}
    <div class="container mt-3 mb-3">
      <h1>Accessories Add Form</h1>
    </div>
        <form action="/accessories-form" method="post" enctype="multipart/form-data">
            <div class="mb-3">
                <label for="itemName-acc" class="form-label">Item Name</label>
                <input type="text" class="form-control" id="itemName-acc" placeholder="Item Name" name="name">
                <div class="form-text">The item name that will show in the shop</div>
              </div>
              <div class="mb-3">
                <label for="itemPrice-acc" class="form-label">Price</label>
                <input type="number" class="form-control" id="itemPrice-acc" name="price">
              </div>
              <div class="mb-3">
                <label for="itemQty-acc" class="form-label">Item Qty</label>
                <input type="number" class="form-control" id="itemQty-acc" placeholder="Item Quantity" name="qty">
                <div class="form-text">The number of items you will have in stock</div>
              </div>
              <div class="mb-3">
                <label for="itemType-acc" class="form-label">Item Type</label>
                <input type="text" class="form-control" id="itemType-acc" placeholder="Gloves, hats, chains, etc." name="type">
                <div class="form-text">The type of item.</div>
              </div>
              <div class="mb-3">
                <label for="itemImage-acc" class="form-label">Item Image</label>
                <input type="file" name="image" id="itemImage-acc" required>
              </div>
              <button type="submit" class="btn btn-primary">Submit Item</button>
        </form>
    {% elif item == 'jeans' %}
    <div class="container mt-3 mb-3">
      <h1>Jeans Add Form</h1>
    </div>
    <form action="/jeans-form" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="itemName-j" class="form-label">Item Name</label>
            <input type="text" name="name" class="form-control" id="itemName-j" placeholder="Item Name">
            <div class="form-text">The item name that will show in the shop</div>
          </div>
          <div class="mb-3">
            <label for="itemPrice-j" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="itemPrice-j">
          </div>
          <div class="mb-3">
            <label for="itemGender-j" class="form-label">Gender</label>
            <input type="text" class="form-control" name="gender" id="itemGender-j" placeholder="M/F">
            <div class="form-text">The gender for which the item is</div>
          </div>
          <div class="mb-3">
            <label for="itemQty-j" class="form-label">Item Qty</label>
            <input type="number" name="qty" class="form-control" id="itemQty-j" placeholder="Item Quantity">
            <div class="form-text">The number of items you will have in stock</div>
          </div>
          <div class="mb-3">
            <label for="itemType-j" class="form-label">Item Type</label>
            <input type="text" name="type" class="form-control" id="itemType-j" placeholder="Denim, ripped, cargo, etc.">
            <div class="form-text">The type of item.</div>
          </div>
          <div class="mb-3">
            <label for="itemImage-j" class="form-label">Item Image</label>
            <input type="file" name="image" id="itemImage-j" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit Item</button>
    </form>
    {% elif item == 'shoes' %}
    <div class="container mt-3 mb-3">
      <h1>Shoes Add Form</h1>
    </div>
    <form action="/shoes-form" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="itemName-shoe" class="form-label">Item Name</label>
            <input type="text" name="name" class="form-control" id="itemName-shoe" placeholder="Item Name">
            <div class="form-text">The item name that will show in the shop</div>
          </div>
          <div class="mb-3">
            <label for="itemPrice-shoe" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="itemPrice-shoe">
          </div>
          <div class="mb-3">
            <label for="itemGender-shoe" class="form-label">Gender</label>
            <input type="text" name="gender" class="form-control" maxlength="1" id="itemGender-shoe" placeholder="M/F">
            <div class="form-text">The gender for which the item is</div>
          </div>
          <div class="mb-3">
            <label for="itemQty-shoe" class="form-label">Item Quantity</label>
            <input type="number" name="qty" class="form-control" id="itemQty-shoe" placeholder="Item Quantity">
            <div class="form-text">The number of items you will have in stock</div>
          </div>
          <div class="mb-3">
            <label for="itemType-shoe" class="form-label">Item Type</label>
            <input type="text" name="type" class="form-control" id="itemType-shoe" placeholder="Joggers, slippers, sandals, etc.">
            <div class="form-text">The type of item.</div>
          </div>
          <div class="mb-3">
            <label for="itemImage-shoe" class="form-label">Item Image</label>
            <input type="file" name="image" id="itemImage-shoe" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit Item</button>
    </form>
    {% elif item == 'shirts' %}
    <div class="container mt-3 mb-3">
      <h1>Shirts Add Form</h1>
    </div>
    <form action="/shirt-form" method="post" enctype="multipart/form-data">
        <div class="mb-3">
            <label for="itemName-shirt" class="form-label">Item Name</label>
            <input type="text" name="name" class="form-control" id="itemName-shirt" placeholder="Item Name">
            <div class="form-text">The item name that will show in the shop</div>
          </div>
          <div class="mb-3">
            <label for="itemPrice-shirt" class="form-label">Price</label>
            <input type="number" name="price" class="form-control" id="itemPrice-shirt">
          </div>
          <div class="mb-3">
            <label for="itemGender-shirt" class="form-label">Gender</label>
            <input type="text" name="gender" class="form-control" maxlength="1" id="itemGender-shirt" placeholder="M/F">
            <div class="form-text">The gender for which the item is</div>
          </div>
          <div class="mb-3">
            <label for="itemQty-shirt" class="form-label">Item Quantity</label>
            <input type="number" name="qty" class="form-control" id="itemQty-shirt" placeholder="Item Quantity">
            <div class="form-text">The number of items you will have in stock</div>
          </div>
          <div class="mb-3">
            <label for="itemType-shirt" class="form-label">Item Type</label>
            <input type="text" name="type" class="form-control" id="itemType-shirt" placeholder="T-Shirt, Shirts, Cargo, etc.">
            <div class="form-text">The type of item.</div>
          </div>
          <div class="mb-3">
            <label for="itemImage-shirt" class="form-label">Item Image</label>
            <input type="file" name="image" id="itemImage-shirt" required>
          </div>
          <button type="submit" class="btn btn-primary">Submit Item</button>
    </form>
    {% endif %}
    {% endblock %}
</div>
{% endblock %}