{% extends 'index.html' %}

{% block cover_pic %}{% endblock %}

{% block view_items %}
<div class="container">
    <div class="row mt-5">
      <div class="col-md-6">
        <img src="../{{item[0].image_path}}" alt="Product Image" class="img-fluid">
      </div>
      <div class="col-md-6">
        <h2>{{item[0].name}}</h2>
        <p>Rs. {{item[0].price}}</p>
        <form action="/purchase/{{item[0].prod_code}}" method="post">
          <div class="form-group mb-3">
            <label for="quantity">Quantity:</label>
            <input type="number" class="form-control" id="quantity" name="quantity" min="1" max="10" value="1">
          </div>
          <button type="submit" name="form-button" value="buy-now" class="btn btn-primary">Buy Now</button>
          <button type="submit" name="form-button" value="add-to-cart" class="btn btn-secondary">Add to Cart</button>
        </form>
      </div>
    </div>
  </div>
{% endblock %}

{% block alerts %}
  {% with messages = get_flashed_messages() %}
  {% if messages %}
  <div class="d-flex justify-content-center">
      <div class="alert alert-danger alert-dismissible fade show" role="alert">
            {% for message in messages %}
                {{ message }}
            {% endfor %}
        <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
      </div>
  </div>
  {% endif %}
  {% endwith%}
{% endblock %}