{% extends 'index.html' %}

{% block cover_pic %}{% endblock %}

{% block user_settings_form %}
<div class="container col-4 mt-5">
    <div class="container alert-messages">
        {% block alerts %}
            {% with messages = get_flashed_messages(with_categories=true) %}
            {% for category, message in messages %}
                {% if category == 'error' %}
                <div class="alert alert-danger alert-dismissible fade show" role="alert">
                     {{ message }}
                <button type="button" class="btn-close" data-bs-dismiss="alert" aria-label="Close"></button>
                  </div>
                {% endif%}
            {% endfor %}
            {% endwith %}
        {% endblock %}
    </div>
    <div class="card">
        <div class="heading-text container text-center">
            <h1 class="mt-5"> Welcome {{name}}!</h1>
            <p>Hey {{name}}! You can change you personal settings here if you like</p>
        </div>
        <div class="card-body">
            <form action="/settings" method="post">
                <div class="mb-3">
                  <label for="name" class="form-label">Name:</label>
                  <input type="text" class="form-control" id="name" name="name" placeholder="{{name}}">
                </div>
                <div class="mb-3">
                  <label for="password" class="form-label">Old Password:</label>
                  <input type="password" class="form-control" id="password" name="old-password" placeholder="********">
                </div>
                <div class="mb-3">
                    <label for="password" class="form-label"> New Password:</label>
                    <input type="password" class="form-control" id="password" name="new-password" placeholder="********">
                  </div>
                  <div class="mb-3">
                    <label for="password" class="form-label"> Confirm Password:</label>
                    <input type="password" class="form-control" id="password" name="conf-password" placeholder="********">
                  </div>
                <div class="mb-3">
                  <label for="email" class="form-label">Email:</label>
                  <input type="email" class="form-control" id="email" name="email" placeholder="{{current_user.email}}">
                </div>
                <div class="mb-3">
                  <label for="address" class="form-label">Address:</label>
                  <input type="text" class="form-control" id="address" name="address" placeholder="{{current_user.location}}">
                </div>
                <button type="submit" class="btn btn-success">Save Settings</button>
              </form>
        </div>
    </div>
</div>
{% endblock %}